/**
 * Notes
 * 
 * While CSS variables would've been useful, I've avoided them here
 * due to lack of IE support: https://caniuse.com/css-variables
 */

/**
 * Fonts
 * 
 * Keeping fonts housed locally vs. relying on Google Fonts CDN.
 * The less dependency on 3rd party resources, the better, imo.
 */
@font-face {
  font-family: "Archivo";
  src: url("../fonts/Archivo-Bold.woff2") format("woff2"),
    url("../fonts/Archivo-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Archivo";
  src: url("../fonts/Archivo-Regular.woff2") format("woff2"),
    url("../fonts/Archivo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/**
 * Global
 */
body,
html {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

body {
  font-size: 16px;
}

body,
body * {
  position: relative;
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
}

/**
 * Utilities
 */
.mt-0 {
  margin-top: 0;
}

.w-full {
  width: 100%;
}

.text-center {
  text-align: center;
}

.spacer-12 {
  height: 12rem;
}

@media screen and (max-width: 640px) {
  .spacer-12 {
    height: 8rem;
  }
}

.no-underline {
  text-decoration: none;
}

.mt-1 {
  margin-top: 1rem;
}

.p-2 {
  padding: 2rem;
}

@media screen and (max-width: 1024px) {
  .no-tablet {
    display: none;
  }
}

.mobile-only {
  display: none;
}

@media screen and (max-width: 640px) {
  .no-mobile {
    display: none;
  }
  .mobile-only {
    display: block;
  }
}

/**
 * Animations
 */
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slideRightFadeIn {
  0% {
    transform: translateX(-25vw);
    opacity: 0;
  }
  100% {
    transform: translateX(0vw);
    opacity: 1;
  }
}

@keyframes slideRightFadeIn {
  0% {
    transform: translateX(-25vw);
    opacity: 0;
  }
  100% {
    transform: translateX(0vw);
    opacity: 1;
  }
}

@-webkit-keyframes waveIntro {
  0% {
    transform: translateY(50%) translateX(-5vw) scale(0.7, 1.2);
    opacity: 0;
  }
  100% {
    transform: translateY(50%) translateX(0vw) scale(1, 1);
    opacity: 1;
  }
}

@keyframes waveIntro {
  0% {
    transform: translateY(50%) translateX(-5vw) scale(0.7, 1.2);
    opacity: 0;
  }
  100% {
    transform: translateY(50%) translateX(0vw) scale(1, 1);
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn 2s ease forwards;
  animation: fadeIn 2s ease forwards;
}

/**
 * Colors
 */
.white {
  color: white;
}

.gray {
  color: #c5cfd8;
}

.accent1 {
  color: #6f97f6;
}

.accent2 {
  color: #a1bdf3;
}

.accent3 {
  color: #0c1a3b;
}

.bg-accent3 {
  background-color: #0c1a3b;
  color: white;
}

.accent4 {
  color: #fbbc79;
}

.bg-accent4 {
  background-color: #fbbc79;
}

.accent5 {
  color: #ee795f;
}

/**
 * Layout 
 */
.content {
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
  .content {
    width: 90%;
    max-width: 90%;
  }
}

@media screen and (max-width: 1024px) {
  .content {
    width: 95%;
    max-width: 95%;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
}

/**
 * Typography
 * 
 * Mockup uses px, however using rem in CSS for easier
 * responsive scaling. 2.5rem = 40px, as <body> has a 16px
 * base font size. 16px = 1rem.
 */
h1 {
  font-size: 2.5rem;
  line-height: 2.72rem; /* 43.52px */
  font-weight: bold;
}

h2,
.h2,
h3,
.h3 {
  font-size: 1.25rem;
  line-height: 1.36rem;
}

h2.larger {
  font-size: 2.5rem;
  line-height: 2.72rem;
}

@media screen and (max-width: 640px) {
  h2.larger {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  h2,
  .h2,
  h3,
  .h3 {
    font-size: 1.15rem;
    line-height: 1.26rem;
  }
}

p {
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-top: 1rem;
}

/**
 * Buttons
 */
a.cta {
  display: inline-block;
  padding: 8px 24px;
  border-radius: 4px;
  transition: all 250ms ease;
  box-shadow: 0 0 0 transparent;
  border: 1px solid transparent;
  text-decoration: none;
  background-color: #6f97f6; /* Default */
}

a.btn {
  transition: all 250ms ease;
  display: inline-block;
}

.cta:active,
.btn:active {
  transform: scale(0.9);
}

a.cta:hover {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  border: 1px solid white;
}

a.cta.alt1 {
  background-color: #fbbc79;
  color: #172a58;
  font-weight: bold;
}

a.cta.alt1:hover {
  background-color: white;
  color: #172a58;
  font-weight: bold;
}

a.cta.alt2 {
  background-color: transparent;
  color: #6f97f6;
}

a.cta.alt2::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0.97rem;
  width: 0.5rem;
  height: 0.5rem;
  border-right: 2px solid #6f97f6;
  border-bottom: 2px solid #6f97f6;
  transform: rotate(-45deg) translateX(0) translateY(0) translateZ(0);
  transition: transform 250ms ease;
}

a.cta.alt2:hover::after {
  border-right: 2px solid #c5cfd8;
  border-bottom: 2px solid #c5cfd8;
  transform: rotate(-405deg) translateX(0.125rem) translateY(0.125rem) translateZ(0);
}

a.cta.alt2:hover {
  box-shadow: none;
  border: 1px solid transparent;
  color: #c5cfd8;
}

/**
 * Header and Nav 
 */
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo svg {
  position: relative;
  align-self: flex-start;
  display: block;
  height: 40px;
  width: auto;
}

.logo a svg,
.logos a img {
  -webkit-filter: drop-shadow(0 0 0 transparent);
  filter: drop-shadow(0 0 0 transparent);
  transform: scale(1) translateZ(0);
  transition: all 150ms linear;
}

.logo a:hover svg,
.logos a:hover img {
  transform: scale(1.07) translateZ(0);
}

.btn:active {
  transform: scale(0.95) translateZ(0);
}

.logo a:hover svg {
  -webkit-filter: drop-shadow(0 0 7px rgba(251, 188, 121, 0.5));
  filter: drop-shadow(0 0 7px rgba(251, 188, 121, 0.5));
}

.logos a:hover img {
  -webkit-filter: drop-shadow(0 0 7px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0 0 7px rgba(0, 0, 0, 0.5));
}

#top-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: rgba(12, 26, 59, 0.8);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.top-header-inner {
  width: 100%;
  max-width: 1280px;
  padding: 0 5%;
  margin: 0 auto;
  height: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .top-header-inner {
    display: flex;
  }
}

.header-nav {
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0;
}

@media screen and (max-width: 1024px) {
  .header-nav {
    justify-content: space-around;
  }

  .header-nav span:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  body {
    padding-top: 80px;
  }

  #top-header {
    position: fixed;
    height: 100%;
    max-height: 60px;
    opacity: 1;
    overflow: hidden;
    background-color: rgba(12, 26, 59, 0.6);
    transition: all 750ms ease;
  }

  #mobile-menu-toggle.open + #top-header {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(12, 26, 59, 0.9);
    opacity: 1;
    max-height: 100vh;
  }

  #mobile-menu-toggle.open + #top-header .logo svg {
    transform: translateY(0);
  }
  #top-header .logo svg {
    transition-duration: 450ms;
    transform: translateY(-10px);
  }

  .top-header-inner {
    position: fixed;
    display: block;
    height: 100vh;
    text-align: center;
    padding: 20px;
  }

  .top-header-inner .logo svg {
    display: inline-block;
  }

  .header-nav {
    display: block;
  }

  .header-nav span {
    display: block;
    width: 100%;
    padding: 30px;
    text-align: center;
    border-bottom: 1px solid #c5cfd8;
    font-size: 1.5rem;
  }
}

.header-nav a {
  display: inline-block;
  padding: 8px 24px;
  text-decoration: none;
  color: white;
}

a.fx {
  padding: 8px 0;
}

.header-nav a:not(.nofx)::after,
a.fx::after {
  content: "";
  display: block;
  position: absolute;
  border-bottom: 1px solid currentColor;
  bottom: -3px;
  left: 50%;
  width: 0;
  height: 0;
  opacity: 0;
  transition: all 250ms ease;
}

.header-nav a:not(.nofx):hover::after,
a.fx:hover::after {
  width: 100%;
  left: 0;
  opacity: 1;
}

a.fx.has-arrow svg {
  transition: transform 350ms ease;
}

a.fx.has-arrow:hover svg {
  transform: translateX(5px);
}

#nav span {
  display: inline-block;
}

/**
 * Mobile Nav Menu
 */
#mobile-menu-toggle {
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background-color: transparent;
  transition: background-color 300ms ease;
  cursor: pointer;
  z-index: 25;
}

.menu-icon {
  width: 50%;
  height: 50%;
  position: absolute;
  margin: auto auto;
  top: 2.5%;
  left: 0;
  right: 0;
  bottom: 0;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
}

.menu-icon span {
  display: block;
  position: absolute;
  height: 15%;
  width: 100%;
  background: #fff;
  border-radius: 0;
  opacity: 1;
  left: 0;
  transform-origin: left center;
  transform: rotate(0deg);
  transition: 400ms ease;
}

.menu-icon span:nth-child(1) {
  top: 5%;
}

.menu-icon span:nth-child(2) {
  top: 40%;
}

.menu-icon span:nth-child(3) {
  top: 75%;
}

#mobile-menu-toggle.open .menu-icon span:nth-child(1),
.menu-icon.open span:nth-child(2) {
  transform: rotate(45deg);
  left: 15%;
}

#mobile-menu-toggle.open .menu-icon span:nth-child(2) {
  opacity: 0;
}

#mobile-menu-toggle.open .menu-icon span:nth-child(3) {
  transform: rotate(-45deg);
  top: 75%;
  left: 15%;
}

/**
 * Hero (Content Section 1)
 */
.block-1::before {
  content: "";
  position: absolute;
  display: block;
  top: -80px;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #0c1a3b;
}

.block-1 .illustration {
  position: relative;
  opacity: 0;
  -webkit-animation: fadeIn 2s ease forwards;
  animation: fadeIn 2s ease forwards;
  transform: scale(1.1);
  max-height: 100%;
  z-index: 0;
}

.block-1 .illustration img {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .block-1 .illustration {
    overflow: hidden;
  }

  .block-1 .illustration img {
    transform: scale(1.3) translateX(-10%) translateY(15%);
  }

  .block-1 .illustration::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: -2px;
    width: 50px;
    height: 80%;
    background: linear-gradient(to right, #0c1a3b, transparent);
  }
}

.gear-clockwise {
  transform-box: fill-box;
  transform-origin: center;
  -webkit-animation: spin;
  animation: spin;
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.gear-counter-clockwise {
  transform-box: fill-box;
  transform-origin: center;
  -webkit-animation: spin;
  animation: spin;
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-direction: reverse;
}

.hero-outer {
  position: relative;
  z-index: 1;
}

.hero {
  padding: 5% 7%;
}

@media screen and (max-width: 1024px) {
  .hero {
    padding: 4%;
  }
}

.hero h2 {
  margin-top: 4rem;
}

@media screen and (max-width: 768px) {
  .hero h2 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

.hero-outer .waves {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 0;
  left: 0;
  bottom: 0;
}

.hero-outer .waves svg {
  width: 100%;
  height: auto;
  transform: scale(2);
}

@media screen and (min-width: 1280px) {
  .hero-outer .waves svg {
    transform: scale(1.35);
  }
}

@media screen and (min-width: 1440px) {
  .hero-outer .waves svg {
    transform: scale(1.5);
  }
}

@media screen and (min-width: 1600px) {
  .hero-outer .waves svg {
    transform: scale(1.7);
  }
}

@media screen and (min-width: 1921px) {
  .hero-outer .waves svg {
    transform: scale(2.1);
  }
}

@media screen and (min-width: 2560px) {
  .hero-outer .waves svg {
    transform: scale(2.3);
  }
}

.hero-outer .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transform: translateY(50%);
  -webkit-animation: waveIntro 1.5s ease 0s 1 forwards;
  animation: waveIntro 1.5s ease 0s 1 forwards;
}

.hero-outer .wave:nth-child(3) {
  -webkit-animation-delay: 250ms;
  animation-delay: 250ms;
}

.hero-outer .wave:nth-child(2) {
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
}

.hero-outer .wave:nth-child(1) {
  -webkit-animation-delay: 1650ms;
  animation-delay: 1650ms;
}

.hero .progress-dots {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translateY(50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .hero .progress-dots {
    justify-content: space-around;
  }
}

.hero-outer .progress-dots .dot-item {
  text-align: center;
}

.hero-outer .progress-dots .dot-item .dot.glow {
  background-color: #fbbc79;
  box-shadow: 0px 2px 20px 3px #6f97f6;
}

.hero-outer .progress-dots .dot-item .dot.glow + span {
  color: #fbbc79;
}

.hero-outer .progress-dots .dot-item .dot {
  display: inline-block;
  opacity: 0;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  background-color: white;
}

.hero-outer .progress-dots .dot-item span {
  position: absolute;
  display: block;
  width: 300%;
  opacity: 0;
  margin-top: 2rem;
  font-size: 1.25rem;
  line-height: 1.36rem;
  transform: translateX(-33%);
  -webkit-animation: fadeIn 2s forwards;
  animation: fadeIn 2s forwards;
}

@media screen and (max-width: 640px) {
  .hero-outer .progress-dots .dot-item span {
    font-size: 1rem;
  }
}

.hero-outer .progress-dots .dot-item .dot {
  -webkit-animation: slideRightFadeIn 2s forwards;
  animation: slideRightFadeIn 2s forwards;
}

.hero-outer .progress-dots .dot-item:nth-child(2) .dot,
.hero-outer .progress-dots .dot-item:nth-child(2) span {
  -webkit-animation-delay: 250ms;
  animation-delay: 250ms;
}

.hero-outer .progress-dots .dot-item:nth-child(3) .dot,
.hero-outer .progress-dots .dot-item:nth-child(3) span {
  -webkit-animation-delay: 550ms;
  animation-delay: 550ms;
}

.hero-outer .progress-dots .dot-item:nth-child(4) .dot,
.hero-outer .progress-dots .dot-item:nth-child(4) span {
  -webkit-animation-delay: 1500ms;
  animation-delay: 1500ms;
}

.hero-outer .progress-dots .dot-item:nth-child(5) .dot,
.hero-outer .progress-dots .dot-item:nth-child(5) span {
  -webkit-animation-delay: 1850ms;
  animation-delay: 1850ms;
}

.hero-outer .progress-dots .dot-item:nth-child(6) .dot,
.hero-outer .progress-dots .dot-item:nth-child(6) span {
  -webkit-animation-delay: 2700ms;
  animation-delay: 2700ms;
}

@media screen and (max-width: 680px) {
  .hero br {
    display: none;
  }
}

/**
 * Content Section 2
 */
.block-2 h2 {
  padding: 0 5%;
}

@media screen and (max-width: 640px) {
  .block-2 .illustration img {
    transform: scale(1) translateX(-12%) translateY(-5%);
  }
}

@media screen and (max-width: 425px) {
  .block-2 .illustration img {
    transform: scale(1.1) translateX(-20%) translateY(-5%);
  }
}

@media screen and (max-width: 375px) {
  .block-2 .illustration img {
    transform: scale(1) translateX(-25%);
  }
}

.orbit {
  width: 100px;
  height: auto;
  z-index: 2;
}

.orbit svg {
  width: 100%;
  height: auto;
  transform: scale(1.3) translateX(-10%) translateZ(0);
}

@media screen and (max-width: 640px) {
  .orbit {
    display: none;
  }
}

.orbit .planet {
  transform-origin: center;
  -webkit-animation-name: spin;
  animation-name: spin;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: 36.5s;
  animation-duration: 36.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.logos-wrapper {
  background-image: url(../svg/backgrounds/bg-logos.svg);
  background-position: 90% center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 640px) {
  .logos-wrapper {
    margin-top: 20px;
    background: none;
  }

  .logos-wrapper .logos {
    padding-top: 20px;
    margin-bottom: 20px;
  }

  .logos-wrapper .logos img {
    margin: 20px 10px;
  }
}

.logos {
  width: 100%;
  margin-bottom: 100px;
}

.logos img {
  display: inline-block;
  margin: 30px 20px;
}

/**
 * Content Section 3
 */
.block-3 {
  padding: 100px 0;
}

.block-3 .illustration img {
  max-width: 100%;
  transform: scale(1.2);
}

@media screen and (max-width: 1279px) {
  .block-3 .illustration img {
    max-width: 100%;
    transform: scale(1) translateX(3%);
  }
}

@media screen and (max-width: 768px) {
  .block-3 .illustration img {
    max-width: 100%;
    transform: scale(0.9) translateX(5%) translateY(5%);
  }
}

@media screen and (max-width: 640px) {
  .block-3 {
    padding: 0 30px 50px 30px;
  }
  .block-3 .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.bg-wave {
  overflow: visible;
  background-image: url(../svg/backgrounds/bg-wave.svg);
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-wave::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-image: linear-gradient(#0c1a3b, transparent);
}

.bg-dots {
  overflow: visible;
  background-image: url(../svg/backgrounds/bg-dots1.svg);
  background-position: bottom left;
  background-size: cover;
  background-repeat: no-repeat;
}

/**
 * Content Section 4
 */
.block-4 {
  padding: 100px 0;
}

@media screen and (max-width: 640px) {
  .block-4 {
    padding: 30px 0;
  }
}

.block-4 .content.dots-bg {
  padding: 50px 0;
  background-image: url(../svg/backgrounds/bg-dots2.svg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
